---

---

<section id="description" class="my-7 md:my-9 px-2 space-y-4">
  <p
    class="inline-block text-xl md:text-2xl tracking-[-1.5px] leading-tight text-balance"
  >
    En Spiro Design nos destaca nuestra <span class="font-bold"
      >creatividad</span
    >, <span class="font-bold">compromiso</span> con los clientes y <span
      class="font-bold">mejora continua</span
    > en la fabricación de nuestros productos.
  </p>
  <p
    class="inline-block text-xl md:text-2xl tracking-[-1.5px] leading-tight text-pretty"
  >
    Ofrecemos <span class="font-bold">soluciones de diseño personalizadas</span>
    que <span class="font-bold">superan cualquier expectativa</span>.
  </p>
</section>
