---

---

<div class="border-b border-white flex">
  <div class="w-1/5 h-28 bg-dark"></div>
  <div class="flex flex-col w-full">
    <div class="h-20 bg-accent"></div>
    <div class="pt-2 pr-2 border-l border-l-white">
      <span class="block text-right uppercase text-fluid-18px font-pjs font-extralight tracking-[-.5px] ">Diseñamos a medida</span>
    </div>
  </div>
</div>
