---
import Separator from "./ui/Separator.astro";
---

<Separator />
<section id="links" class="mx-2 py-7 md:pt-9 md:pb-11">
  <span class="uppercase text-accent md:text-xl"> Ver </span>
  <nav
    role="list"
    class="flex flex-col uppercase font-semibold tracking-tighter text-4xl md:text-5xl"
  >
    <div class="flex flex-row gap-2">
        <a href="/servicios">

            <span>Servicios</span><span class="relative bottom-[3px] left-2"
              ><i class="fa-solid fa-arrow-up-right-from-square text-xl md:text-2xl text-accent"
              ></i></span
            >
        </a>
    </div>
    <div class="flex flex-row gap-2">
        <a href="/metodologia">

            <span>Metodología</span><span class="relative bottom-[3px] left-2"
              ><i class="fa-solid fa-arrow-up-right-from-square text-xl md:text-2xl text-accent"
              ></i></span
            >
        </a>
    </div>
    <div class="flex flex-row gap-2">
        <a href="/portfolio">

            <span>Portfolio</span><span class="relative bottom-[3px] left-2"
              ><i class="fa-solid fa-arrow-up-right-from-square text-xl md:text-2xl text-accent"
              ></i></span
            >
        </a>
    </div>
  </nav>
</section>
